<div class='container'>
  <h1>Optimizing Traffic Flow and Travel Time Using Multi-Agent Systems</h1>
  <h2>Design of Multi-Agent Systems Project 2020,Group C17</h2>
  <a href="https://github.com/Swopper050/C17-traffic-flow-optimization" >Source Code</a>
  <h3>
    Adithya M.S (S4214633)
  <br>
  Bram de Wit (S3151654)
  <br>
  Daniel Marouf (S4503619)
  <br>
  Rik Vegter (S3147495)</h3>
  Default Simulation:<br>
  map: low_monhattan (convert from osmnx)<br>
  max_steps : 10<br>
  busy_road_thereshold : 4<br>

    <a href="/background_process_test" >Simulate test</a>
</div>
